<div class="row">

  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Artifact UI</th>
          <th>Maximum Length</th>
          <th>Maximum Width</th>
          <th>Maximum Thickness</th>
          <th>Basal Edge Width</th>
          <th>Site</th>
        </tr>
      </thead>
      <tbody>

      <% @calf_creek.each do |calf_creek| %>
        <tr>
          <td> <%= link_to calf_creek.ui, admin_artifact_path(calf_creek) %></td>
          <td> <%= calf_creek.max_length %> mm</td>
          <td> <%= calf_creek.max_width %> mm</td>
          <td> <%= calf_creek.max_thickness %> mm</td>
          <td> <%= calf_creek.basal_edge_width %> mm</td>
          <td> <%= calf_creek.site.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to "Add a new Artifact", new_admin_artifact_path, class: "btn btn-primary" %>
