<h2>Add a new Artifact</h2>

<div class="row input-form">

  <div class= "col-md-8">

    <%= form_for [:admin, @artifact], html: { multipart: true } do |f| %>

      <fieldset class="form-group col-md-6">
        <%= f.label :ui %>
        <%= f.text_field :ui, class: "form-control number" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.label :point_type %>
        <%= f.text_field :point_type, class: "form-control text" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.label :max_thickness %>
        <%= f.text_field :max_thickness, class: "form-control", placeholder: "Input as integer" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.label :max_length %>
        <%= f.text_field :max_length, class: "form-control", placeholder: "Input as integer" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.label :max_width %>
        <%= f.text_field :max_width, class: "form-control number", placeholder: "Input as integer" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.label :basal_edge_width %>
        <%= f.text_field :basal_edge_width, class: "form-control", placeholder: "Input as integer" %>
      </fieldset>

      <fieldset class="form-group col-md-6">
        <%= f.file_field :image, class: "form-control-file"%>
      </fieldset>

      <div class="row">
      <fieldset class="form-group col-md-3">
        <%= f.collection_select :site_id, Site.all, :id, :name, { prompt: "Choose the Site" }, class: "c-select" %>
      </fieldset>
      <fieldset class="form-group col-md-3">
        <%= link_to "Add a Site", new_admin_site_path, class: "btn btn-primary"%>
      </fieldset>
    </div>

      <fieldset class="form-group col-md-6">
        <%= f.submit "Add this Artifact", class: "btn btn-primary" %>
      </fieldset>
    <% end %>

  </div>
</div>
