<h2>All Calf Creek Points</h2>
<div class="row">

  <div class="col-md-11">
    <% if admin_authenticated %>
        <%= link_to "Add a new Artifact", new_admin_artifact_path, class: "btn btn-primary" %>
    <% end %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Artifact UI</th>
          <th>Maximum Length</th>
          <th>Maximum Width</th>
          <th>Maximum Thickness</th>
          <th>Basal Edge Width</th>
          <th>Site</th>
        </tr>
      </thead>
      <tbody>
        <% @calf_creek.each do |calf_creek| %>
          <tr>
            <td> <%= calf_creek.ui %></td>
            <td> <%= calf_creek.max_length %> mm</td>
            <td> <%= calf_creek.max_width %> mm</td>
            <td> <%= calf_creek.max_thickness %> mm</td>
            <td> <%= calf_creek.basal_edge_width %> mm</td>
            <td> <%= calf_creek.site.name %></td>
          </tr>
          <% if admin_authenticated %>
          <tr>
            <td><%= link_to "Edit Artifact", edit_admin_artifact_path(calf_creek.id), class: "btn btn-primary" %></td>
            <td><%= link_to "Delete Artifact", admin_artifact_path(calf_creek.id), method: :delete, class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
