<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/calf_creek_horizon">Calf Creek Horizon <span class="sr-only">(current)</span></a></li>
    <li><a href="/sites">Sites</a></li>
    <li><a href="/map">Map</a></li>

    <li class="dropdown">
      <a id="dLabel" data_target="#" href="/artifacts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Artifacts<span class="caret"></span></a>
      <ul class="dropdown-menu" area-labelledby="dLabel">
        <li><%= link_to "Andice Points", points_path("Andice") %> </li>
        <li><%= link_to "Bell Points", points_path("Bell") %> </li>
        <li><%= link_to "Calf Creek Points", points_path("Calf Creek") %> </li>
        <% if admin_authenticated %>
          <li role="separator" class="divider"></li>
          <li><a href="/admin/artifacts/new">Add an Artifact</a></li>
        <% end %>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if admin_authenticated %>
      <li> <%= link_to "Users", admin_users_path %> </li>
      <li><%= link_to "Dashboard", admin_dashboard_path %></li>
    <% end %>
    <li><a href="#">Welcome <%= current_user.first_name %></a></li>
    <li><%= link_to "Logout", logout_path %></li>
  </ul>
</div><!-- /.navbar-collapse -->
