<main class="container">
  <h2>Calf Creek Horizon </h2>

  <div class="row">
    <div class="content-box">
      <div class="col-md-7">

        <%= react_component('CalfCreek') %>

        <div id="artifact-links">

          <div class="row" id="point-button">
            <div class="col-md-1">
            </div>
            <% if current_user %>
              <%= render partial: "shared/user_nav_buttons", locals: { path: "points_path(:point_type)" } %>
            <% else %>
              <div class="col-md-12">
                <%= link_to "Please Login to See The Data", google_login_path, class: "btn btn-primary offset-center" %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="col-md-5 shadow-element padded">
          <h4>Geographic Range of the Calf Creek Horizon</h4>
          <% if current_user %>
            <%= link_to image_tag("Figure1.jpg", class: "welcome-image img-rounded", alt: "Geographic Range"), map_path %>
          <% else %>
            <%= image_tag("Figure1.jpg", class: "welcome-image img-rounded", alt: "Geographic Range") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">

        <%= react_component('FlakeDebris') %>

        <%= react_component('Preforms') %>
    </div>
  </div>
</div>
</div>
</main>
