<main class="container">
  <h2>Calf Creek Horizon </h2>

  <div class="row">
    <div class="content-box">
      <div class="col-md-7">
        <p>The CCH (6,000 - 5,800 BP) is an Early-Middle Archaic interval when
          foragers and bison hunters of the Southern Plains invested a great
          deal of time and skill in producing some of the more complex projectile
          points and notching technology in the archaeological record of
          North America.</p>

        <p>The Calf Creek, Andice, and Bell projectile points are associated
          with the CCH and have been found in Arkansas, Kansas, Missouri,
          Oklahoma and Texas, and there is limited evidence in Colorado,
          New Mexico, northern Tamaulipas, and Utah.<br>
          <%= link_to "Learn more...", info_index_path, class: "btn btn-primary" %></p>

        <div id="artifact-links">
          <%= image_tag("Figure14.jpg", class: "welcome-image", alt: "Projectile Points" ) %>

          <div class="row" id="point-button">
            <div class="col-md-1">
            </div>
            <% if current_user %>
              <%= render partial: "shared/user_nav_buttons", locals: { path: "points_path(:point_type)" } %>
            <% else %>
              <div class="col-md-12">
                <%= link_to "Please Login to See The Data", google_login_path, class: "btn btn-primary offset-center" %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="col-md-5 shadow-element padded">
          <h4>Geographic Range of the Calf Creek Horizon</h4>
          <% if current_user %>
            <%= link_to image_tag("Figure1.jpg", class: "welcome-image", alt: "Geographic Range"), map_path %>
          <% else %>
            <%= image_tag("Figure1.jpg", class: "welcome-image", alt: "Geographic Range") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="content-box">
        <div class="col-md-7 shadow-element padded">
          <p><b>The extensive flake debris (debitage) </b>that is a byproduct of making
            stone tools contains a great deal of information pertaining to the
            technological behaviors incorporated in any given lithic technology,
            whether it is highly complex or simple and 'generic'.</p>

          <p>For instance, in archaeological sites where CCH point types are
            found they are often found in association with notching flakes
            that are diagnostic flake debris that comes from specific indirect
            percussion techniques involved in their removal during manufacturing
            of new projectile points.  Such flakes are pictured here from
            the Gault Site.</p>
          <%= image_tag("Figure11.jpg", class: "welcome-image", alt: "Flake Debris") %>
        </div>
      </div>
      <div class="content-box">
        <div class="col-md-5 padded">
          <p><b>Preforms </b>are an early stage in the sequence of stone tool
            production that establish the size, shape and contours supportive
            to the final lance or projectile point form.  Preforms associated
            with Andice and Calf Creek Points are represented here.</p>

          <%= link_to image_tag("cch_preforms.jpg", class: "welcome-image", alt: "Preforms"), preforms_path, id:"preform" %>
        </div>
    </div>
  </div>
</div>
</div>
</main>
