<h2>All <%= @artifacts.first.point_type %> Points</h2>

<% if admin_authenticated %>
  <%= link_to "Add a new Artifact", new_admin_artifact_path, class: "btn btn-primary" %>
<% end %>

<div class="row">
    <% @artifacts.each do |artifact| %>
      <div class="col-md-4 index-height">
        <table class="table table-striped" id="table-<%= artifact.id %>">
          <tbody>
            <tr>
              <th>Artifact UI</th>
              <td><%= artifact.ui %></td>
            </tr>
            <tr>
              <th>Point Type</th>
              <td><%= artifact.point_type %></td>
            </tr>
          </tbody>
        </table>
        <div class="centered">
        <%= link_to image_tag(artifact.image.url(:thumb), class: "img-rounded index-image"),
        artifact_path(artifact.id),
          id: "image-#{artifact.id}" %>
        </div>
      </div>
    <% end %>
</div>
<div class="clearfix visible-xs-block"></div>
