<h2> <%= @artifact.point_type %> Point <%= @artifact.ui %></h2>

<div class="row">
  <div class="image-fluid img-rounded col-md-7">
    <%= image_tag @artifact.image.url(:medium),
      alt: "Artifact Image",
      class: "img-rounded artifact-image" %>
  </div>
  <div class="col-md-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Artifact Attributes</th>
          <th>Measurements - in mm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>UI</td>
          <td> <%= @artifact.ui %></td>
        </tr>
        <tr>
          <td>Point Type</td>
          <td> <%= @artifact.point_type %></td>
        </tr>
        <tr>
          <td>Maximum Length</td>
          <td> <%= @artifact.max_length %></td>
        </tr>
        <tr>
          <td>Maximum Width</td>
          <td> <%= @artifact.max_width %></td>
        </tr>
        <tr>
          <td>Maximum Thickness</td>
          <td> <%= @artifact.max_thickness %></td>
        </tr>
        <tr>
          <td>Basal Edge Width</td>
          <td> <%= @artifact.basal_edge_width %></td>
        </tr>
        <tr>
          <td>Site found</td>
          <td> <%= @artifact.site.name %></td>
        </tr>
          <% if admin_authenticated %>
          <tr><td colspan="2">
            <%= link_to "Edit Artifact", edit_admin_artifact_path(@artifact), class: "btn btn-primary" %>
            <%= link_to "Delete Artifact", admin_artifact_path(@artifact), method: :delete, class: "btn btn-primary" %>
          </td></tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
